/* #############################################
#############################################

        DEFINNING THE BREAKPOINTS

#############################################

320px — 480px: MOBILES
481px — 768px: TABLETS
769px — 1024px: SMALL SCREENS / LAPTOPS
1025px — 1200px: LARGE SCREENS / DESKTOP 
1201px and more —  XL SCREENS / TV


############################################# */

/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
  
/* BASIC RESET */:root {
   --card-width: 200px;
   --card-height: 300px;
   --card-transition-duration: 800ms;
   --card-transition-easing: ease;
}
@media(max-width:768px){
  :root {
    --card-width: 130px;
    --card-height: 250px;
    --card-transition-duration: 800ms;
    --card-transition-easing: ease;
 }
}
@media(max-width:480px){
  :root {
    --card-width: 90px;
    --card-height: 150px;
    --card-transition-duration: 800ms;
    --card-transition-easing: ease;
 }
}



* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    width: 100%;
    background: rgba(0, 0, 0, 0.787);
    overflow-x: hidden;
  }

    /* DYNAMIC CLASSES */

.current_page{
  color: rgb(130, 197, 53);;
  text-transform: uppercase;
}

  /*============== 3 COLUMN GRID ================*/
.grid3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 20px;
    column-gap: 20px;
    text-align: center;
  }
  
  @media (max-width: 1000px) {
    .grid3 {
      grid-template-columns: 1fr;
      row-gap: 20px;
    }
  }
  /* =========================================== */

    /* Footer */

footer{
    background: #1f426b;
    color: white;
    padding: 5rem !important;
    text-align: left !important;

  }
  @media(max-width:480px){
    footer{
      padding: 1rem !important;
  }
  }
  
  footer a{
    text-decoration: none;
    color: white;
  }
  
  footer li{
    list-style: none;
  }
  /* BELOW FOOTER */
  
  .important_info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 2rem;
    background: #b3e0f2;
  }
  
  .important_info a{
    font-family: 'Oxygen';
    font-weight: bold;
    text-decoration: none;
    color: black;
    padding-top: 1rem;
    padding-bottom: 2.1rem;
  }
  
  @media(max-width:480px){
    .important_info{
      height: auto;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
    .important_info a{
  font-size: 1rem;
  padding: 0.5rem;
  }
  }

  /* Nav Bar */
.main-header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    width: 100vw;
    padding: 0 10vw;
    color: #000;
    background: #fff;
    z-index: 2;
    -webkit-box-shadow: 0 8px 10px -2px rgba(59, 59, 59, 0.8);
    -moz-box-shadow: 0 8px 10px -2px rgba(59, 59, 59, 0.8);
    box-shadow: 0 8px 10px -2px rgba(59, 59, 59, 0.8);
  }
  

  .main-header a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
  }

  .main-header .logo img {
    max-width: 15rem;
    margin-top: .4rem;
  }
  
  .main-header .menu-icon {
    position: relative;
    padding: 26px 10px;
    cursor: pointer;
    z-index: 2;
    display: none;
  }
  
  .main-header .menu-icon .menu-icon__line {
    display: block;
    position: relative;
    background: #000;
    height: 2px;
    width: 20px;
    border-radius: 4px;
  }
  
  .main-header .menu-icon .menu-icon__line::before,
  .main-header .menu-icon .menu-icon__line::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    background: #000;
    transition: background .8s ease;
  }
  
  .main-header .menu-icon .menu-icon__line::before {
    transform: translateY(-5px);
  }
  
  .main-header .menu-icon .menu-icon__line::after {
    transform: translateY(5px);
  }
  
  .main-header .menu-btn {
    display: none;
  }
  
  .main-header .scrolled {
    height: 700px;
    background-color: #7629f2;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
  }
  
  .nav-links .nav-link a {
    font-size: .9rem;
    margin: .2rem;
    padding: .75rem 1.5rem;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    position: relative;
  }

  /* NAV LINKS REPOSITIONING ON SMALLER SCREENS */

  @media only screen and (max-width: 1600px) and (min-width: 1451px) {
    .nav-links .nav-link a {
      font-size: .75rem;
    }

    .main-header .logo img {
      max-width: 15rem;
      margin-top: .4rem;
    }
  }
  
  .nav-links .nav-link a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background:rgb(130, 197, 53);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  
  .nav-links .nav-link a:hover:after { 
    width: 100%; 
    left: 0; 
    background: rgb(130, 197, 53);
  }
  
  @media screen and (max-width: 1450px) {

  .main-header {
    padding: 0 5vw;
  }

    .main-header .menu-icon {
      display: block;
      color: #fff;
    }
  
    .main-header .menu-icon .menu-icon__line {
      animation: closedMid 0.8s backwards;
      animation-direction: reverse;
      color: #fff;
    }
  
    .main-header .menu-icon .menu-icon__line::before {
      animation: closedTop 0.8s backwards;
      animation-direction: reverse;
      color: #fff;
    }
  
    .main-header .menu-icon .menu-icon__line::after {
      animation: closedBtm 0.8s backwards;
      animation-direction: reverse;;
    }
/* ===== CONTROLS NAVBAR UNDERLINES =========*/
    .nav-links .nav-link a:hover:after { 
      background: rgb(130, 197, 53);
      left: 25%;
      width: 50%;
    }
    .nav-links .nav-link a:after {    
    background: rgb(130, 197, 53);
     }
/* ======================================== */
    .main-header .nav-links {
      position: absolute;
      top: -2rem;
      left: 0;
      opacity: 0;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      padding: 10rem 0;
      width: 100vw;
      height: 100vh;
      font-size: 2rem;
      color: #fff;
      background: #ebebeb;
      transition:
        opacity .8s,
        clip-path .7s;
      clip-path: circle(200px at top right);
    }
  
    .main-header .nav-links .nav-link {
      opacity: 0;
      transform: translateX(100%);
      width: 100%;
      text-align: center;
    }
  
    .main-header .nav-links .nav-link a {
      display: block;
      padding: 2rem 0;
      color: #272727;
    }

    .main_header .menu-btn:checked ~ .glide__arrows {
      display: none;
    }
  
    .main-header .menu-btn:checked ~ .nav-links {
      opacity: 1;
      clip-path: circle(100% at center);
    }
  
    .main-header .menu-btn:checked ~ .nav-links .nav-link {
      opacity: 1;
      transform: translateX(0);
      transition:
        opacity ease-in-out,
        transform .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
  
    .main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(1) {
      transition-delay: .4s;
    }
  
    .main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(2) {
      transition-delay: .5s;
    }
  
    .main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(3) {
      transition-delay: .6s;
    }
  
    .main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(4) {
      transition-delay: .7s;
    }

    .main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(5) {
      transition-delay: .8s;
    }

    .main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(6) {
      transition-delay: .9s;
    }
  
    .main-header .menu-btn:checked ~ .menu-icon .menu-icon__line {
      animation: openMid 0.8s forwards;
    }
  
    .main-header .menu-btn:checked ~ .menu-icon .menu-icon__line::before {
      animation: openTop 0.8s forwards;
    }
  
    .main-header .menu-btn:checked ~ .menu-icon .menu-icon__line::after {
      animation: openBtm 0.8s forwards;
    }
  
    @keyframes openTop {
      0% {
        transform: translateY(-5px)
        rotate(0deg);
      }
      50% {
        transform: translateY(0px)
        rotate(0deg);
      }
      100% {
        transform: translateY(0px)
        rotate(90deg);
      }
    }
  
    @keyframes openMid {
      50% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(45deg);
      }
    }
  
    @keyframes openBtm {
      0% {
        transform: translateY(5px)
        rotate(0deg);
      }
      50% {
        transform: translateY(0px)
        rotate(0deg);
      }
      100% {
        transform: translateY(0px)
        rotate(90deg);
      }
    }
  
    @keyframes closedTop {
      0% {
        transform: translateY(-5px)
        rotate(0deg);
      }
      50% {
        transform: translateY(0px)
        rotate(0deg);
      }
      100% {
        transform: translateY(0px)
        rotate(90deg);
      }
    }
  
    @keyframes closedMid {
      50% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(45deg);
      }
    }
  
    @keyframes closedBtm {
      0% {
        transform: translateY(5px)
        rotate(0deg);
      }
      50% {
        transform: translateY(0px)
        rotate(0deg);
      }
      100% {
        transform: translateY(0px)
        rotate(90deg);
      }
    }
  }


 button {
   border: none;
   background: none;
   cursor: pointer;
}
 button:focus {
   outline: none;
   border: none;
}
 .app {
   width: 100%;
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
 .app__bg {
   position: absolute;
   width: 100%;
   height: 100%;
   z-index: -5;
   filter: blur(8px);
   pointer-events: none;
   user-select: none;
   overflow: hidden;
}
 .app__bg::before {
   content: "";
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background: #000;
   z-index: 1;
   opacity: 0.8;
}
 .app__bg__image {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%) translateX(var(--image-translate-offset, 0));
   width: 180%;
   height: 180%;
   transition: transform 1000ms ease, opacity 1000ms ease;
   overflow: hidden;
}
 .app__bg__image img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
 .app__bg__image.current--image {
   opacity: 1;
   --image-translate-offset: 0;
}
 .app__bg__image.previous--image, .app__bg__image.next--image {
   opacity: 0;
}
 .app__bg__image.previous--image {
   --image-translate-offset: -25%;
}
 .app__bg__image.next--image {
   --image-translate-offset: 25%;
}
 .cardList {
   position: absolute;
   width: calc(3 * var(--card-width));
   height: auto;
}
 .cardList__btn {
   --btn-size: 35px;
   width: var(--btn-size);
   height: var(--btn-size);
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   z-index: 100;
}
 .cardList__btn.btn--left {
   left: -15%;
}
 .cardList__btn.btn--right {
   right: -15%;
}
 .cardList__btn .icon {
   width: 100%;
   height: 100%;
}
 .cardList__btn .icon svg {
   width: 100%;
   height: 100%;
}
 .cardList .cards__wrapper {
   position: relative;
   width: 100%;
   height: 100%;
   perspective: 1000px;
}
 .card {
   --card-translateY-offset: 100vh;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%) translateX(var(--card-translateX-offset)) translateY(var(--card-translateY-offset)) rotateY(var(--card-rotation-offset)) scale(var(--card-scale-offset));
   display: inline-block;
   width: var(--card-width);
   height: var(--card-height);
   transition: transform var(--card-transition-duration) var(--card-transition-easing);
   user-select: none;
}
 .card::before {
   content: "";
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background: #000;
   z-index: 1;
   transition: opacity var(--card-transition-duration) var(--card-transition-easing);
   opacity: calc(1 - var(--opacity));
}
 .card__image {
   position: relative;
   width: 100%;
   height: 100%;
}
 .card__image img {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   filter: brightness(50%);
}
 .card.current--card {
   --current-card-rotation-offset: 0;
   --card-translateX-offset: 0;
   --card-rotation-offset: var(--current-card-rotation-offset);
   --card-scale-offset: 1.2;
   --opacity: 0.8;
}
 .card.previous--card {
   --card-translateX-offset: calc(-1 * var(--card-width) * 1.1);
   --card-rotation-offset: 25deg;
}
 .card.next--card {
   --card-translateX-offset: calc(var(--card-width) * 1.1);
   --card-rotation-offset: -25deg;
}
 .card.previous--card, .card.next--card {
   --card-scale-offset: 0.9;
   --opacity: 0.4;
}
 .infoList {
   position: absolute;
   width: calc(3 * var(--card-width));
   height: var(--card-height);
   pointer-events: none;
}

 .infoList .info__wrapper {
   position: relative;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: flex-start;
   align-items: flex-end;
   perspective: 1000px;
   transform-style: preserve-3d;
}
 .info {
   margin-bottom: calc(var(--card-height) / 8);
   margin-left: calc(var(--card-width) / 1.5);
   transform: translateZ(2rem);
   transition: transform var(--card-transition-duration) var(--card-transition-easing);
}
 .info .text {
   position: relative;
   font-family: "Oxygen";
   text-shadow: 4px 4px 10px #1a1a1a;
   font-size: calc(var(--card-width) * var(--text-size-offset, 0.25));
   white-space: nowrap;
   color: #fff;
   width: fit-content;
}

.info .description{
  font-size: 0.8rem;
  white-space: nowrap;
  width: 100%;
  }

  @media(min-width:1700px){
    .info .description{
      font-size: 1.2rem;
  }
}
@media(max-width:1024px){  
.infoList {
  margin-top: 20rem;
}
.info .description{
font-size: 25px;
white-space: normal;

}
}
  
@media(max-width:780px){
  .info .description{
  font-size: 18px;
  white-space: normal;
  width: 100%;
  }

  .info {
    margin-bottom: 0;
    margin-left: 2rem;
    margin-right: 1rem;
  }
  .cardList__btn.btn--left {
    left: -5%;
  }
  .cardList__btn.btn--right {
    right: -5%;
  }
}


 .info .name, .info .location {
   text-transform: uppercase;
}
 .info .location {
   font-weight: 800;
}
 .info .location {
   --mg-left: 40px;
   --text-size-offset: 0.12;
   font-weight: 600;
   margin-left: var(--mg-left);
   margin-bottom: calc(var(--mg-left) / 2);
   padding-bottom: 0.8rem;
}
 .info .location::before, .info .location::after {
   content: "";
   position: absolute;
   background: #fff;
   left: 0%;
   transform: translate(calc(-1 * var(--mg-left)), -50%);
}
 .info .location::before {
   top: 50%;
   width: 20px;
   height: 5px;
}
 .info .location::after {
   bottom: 0;
   width: 60px;
   height: 2px;
}
 .info .description {
   --text-size-offset: 0.065;
   font-weight: 500;
}
 .info.current--info {
   opacity: 1;
   display: block;
}
 .info.previous--info, .info.next--info {
   opacity: 0;
   display: none;
}
 .loading__wrapper {
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: #000;
   z-index: 200;
}
 .loading__wrapper .loader--text {
   color: #fff;
   font-family: "Montserrat";
   font-weight: 500;
   margin-bottom: 1.4rem;
}
 .loading__wrapper .loader {
   position: relative;
   width: 200px;
   height: 2px;
   background: rgba(255, 255, 255, 0.25);
}
 .loading__wrapper .loader span {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background: #f00;
   transform: scaleX(0);
   transform-origin: left;
}
 @media only screen and (min-width: 1024px) {
   :root {
     --card-width: 250px;
     --card-height:450px;
  }
}
 .support {
   position: absolute;
   right: 10px;
   bottom: 10px;
   padding: 10px;
   display: flex;
}
 .support a {
   margin: 0 10px;
   color: #fff;
   font-size: 1.8rem;
   backface-visibility: hidden;
   transition: all 150ms ease;
}
 .support a:hover {
   transform: scale(1.1);
}
 